<mat-toolbar>
  <span>New User</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<form [formGroup]="registrationService.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="450px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input formControlName="firstName" matInput placeholder="First Name*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="lastName" matInput placeholder="Last Name">
        </mat-form-field>

        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email*">
          <mat-error *ngIf="registrationService.form.controls['email'].errors?.required">This field is mandatory.</mat-error>
          <mat-error *ngIf="registrationService.form.controls['email'].errors?.email">Invalid email address.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="mobile" matInput placeholder="Mobile*">
          <mat-error *ngIf="registrationService.form.controls['mobile'].errors?.required">This field is mandatory.</mat-error>
          <mat-error *ngIf="registrationService.form.controls['mobile'].errors?.minlength">Minimum 8 charactors needed.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="password" matInput placeholder="Password*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="confirmPassword" matInput placeholder="Confirm Password*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        
        <div class="add-bottom-padding">
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
            <mat-radio-button value="3">Other</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="controles-container">
       
        <!-- <mat-form-field>
          <mat-select formControlName="department" placeholder="Department">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let department of departments">
              <mat-option value="{{department.id}}">{{department.value}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field> -->
        <!-- <mat-form-field>
          <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
        <!-- <div class="add-bottom-padding">
          <mat-checkbox formControlName="isPermanent">Permanent Employee</mat-checkbox>
        </div> -->

        
        <mat-form-field>
          <input formControlName="address" matInput placeholder="Address*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="address2" matInput placeholder="Address 2">
        </mat-form-field>

        <mat-form-field>
          <input formControlName="district" matInput placeholder="District*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="location" matInput placeholder="Location*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="postalCode" matInput placeholder="Postal Code*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="state" matInput placeholder="State*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="registrationService.form.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="d-flex justify-content-center">
    <p>Already have account?<a (click)="login()">LogIn</a></p>
  </div>
</form>
