<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="font navbar-brand" href="#">OldBookSell</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="font nav-link font btn btn-outline-info mr-sm-2" id="menue_button" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font btn btn-outline-info mr-sm-2" id="menue_button" (click)="login()">LogIn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font btn btn-outline-info mr-sm-2" id="menue_button" (click)="registration()">Registration</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>    
</nav>    

