.font
{
    font-family: 'Lora', serif;
}
a{
    text-decoration: none;
    cursor: pointer;
    
}
#menue_button{
    width: 120px;
}
.gradient
{
    margin-top: 10%;
    border-radius: 30px;
}
img
{
    height: 40%;
    width: 40%;
}
.modal {
    overflow-y:auto;
}
#registation{
    margin-top: 5%;
}