<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="font navbar-brand" href="#">OldBookSell</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="font nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="font nav-link" href="#">AboutUs</a>
            </li>
            <li class="nav-item">
                <button type="button" class="font btn btn-outline-info mr-sm-2" data-toggle="modal" data-target="#model">
                    Login/SignUp
                </button>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>    
    <!--Login modal Start-->
    <div class="modal fade" id="model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" id="login_model" role="document" >
            <!--Content-->
            <div class="modal-content" >
                <!--Header-->
                <div class="modal-header mb-2 bg-dark">
                    <h3 class="font w-100 dark-grey-text  text-center text-light" id="myModalLabel">Login</h3>
                        
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-light" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <img src="../../assets/logo.png" alt="logo" class="rounded-circle img-fluid mx-auto d-block ">
       
                <div class="modal-body mx-4">
                    <div class="md-form mb-2">
                        <i class="fas fa-user prefix"></i>&nbsp;
                        <label data-error="wrong" data-success="right" for="Form-email1" class="font"> Username:</label>
                        <input type="text" id="Form-email1" class="form-control validate">
                    </div>
        
                    <div class="md-form pb-3">
                        <i class="fas fa-lock prefix"></i>&nbsp;
                        <label data-error="wrong" data-success="right" for="Form-pass1" class="font"> Password:</label>
                        <input type="password" id="Form-pass1" class="form-control validate">
                        <p class="font-small d-flex justify-content-end"> <a href="#" class="text-info mt-2 font">Forgot Password?</a></p>
                    </div>
                    <div class="text-center mb-2">
                        <button type="button" class="btn btn-outline-info my-2 my-sm-0  w-75 p-3 mb-5 gradient font">LogIn</button>
                    </div>
            
                </div>
                <!--Footer-->
                <div class="modal-footer mx-5 pt-3 mb-1">
                    <p class="font-small grey-text d-flex justify-content-end"> <a class="text-info ml-1 font" data-dismiss="modal" data-toggle="modal" data-target="#registration_modal">Not a member?Sign Up</a></p>
                </div>
            </div>
            <!--/.Content-->
        </div> 
    </div>
    <!--Login Modal End-->

    <!--Registration Modal start-->
    <div class="modal fade" id="registration_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header mb-2 bg-dark">
                    <h3 class="font w-100 dark-grey-text  text-center text-light" id="myModalLabel">Registration</h3>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-light" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body mx-4">
                    <!--Body-->
                    <img src="../../assets/logo.png" alt="logo" class="rounded-circle img-fluid mx-auto d-block w-50">

        <div class="row">
            <div class="col-sm-6">
                <i class="fas fa-user prefix"></i>&nbsp;
                <label data-error="wrong" data-success="right" for="first_name" class="font"> First Name:</label>
                <input type="text" id="first_name" class="form-control validate">
            </div>
            <div class="col-sm-6">
                <i class="fas fa-user prefix"></i>&nbsp;
                <label data-error="wrong" data-success="right" for="last_name" class="font"> Last Name:</label>
                <input type="text" id="last_name" class="form-control validate">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <i class="fas fa-envelope prefix"></i>&nbsp;
                <label data-error="wrong" data-success="right" for="email_id" class="font"> Email:</label>
                <input type="password" id="email_id" class="form-control validate">
            </div>
            <div class="col-sm-6">
                <i class="fas fa-mobile prefix"></i>&nbsp;
                <label data-error="wrong" data-success="right" for="mobile_number" class="font"> Mobile Number:</label>
                <input type="password" id="mobile_number" class="form-control validate">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-6">
                <i class="fas fa-lock prefix"></i>&nbsp;
                <label data-error="wrong" data-success="right" for="pass" class="font"> Password:</label>
                <input type="password" id="pass" class="form-control validate">
            </div>
            <div class="col-sm-6">
                <i class="fas fa-lock prefix"></i>&nbsp;
                <label data-error="wrong" data-success="right" for="confirm_pass" class="font"> Confirm Password:</label>
                <input type="password" id="confirm_pass" class="form-control validate">
            </div>
        </div>

        <div class="text-center mb-2">
            <button type="button" class="btn btn-outline-info my-2 my-sm-0  w-75 p-3 mb-5 gradient font">Register</button>
        </div>
        <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2 font"> or Register with:</p>

        <div class="row my-3 d-flex justify-content-center">
            <!--Facebook-->
            <button type="button" class="btn btn-outline-info ml-2 my-sm-0 mr-md-3 z-depth-1a"><i class="fab fa-facebook-f text-center"></i></button>
            <!--Twitter-->
            <button type="button" class="btn btn-outline-info ml-2 my-sm-0 mr-md-3  z-depth-1a"><i class="fab fa-twitter"></i></button>
            <!--Google +-->
            <button type="button" class="btn btn-outline-info ml-2 my-sm-0 mr-md-3-dark z-depth-1a"><i class="fab fa-google-plus-g"></i></button>
        </div>
                </div>
                <!--Footer-->
                <div class="modal-footer mx-5 pt-3 mb-1">
                    <p class="font-small grey-text d-flex justify-content-end"> <a class="text-info ml-1 font" data-dismiss="modal" data-toggle="modal" data-target="#model">Already have an account? Log In</a></p>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Registration Modal end-->       
</nav>        
